*{
    margin: 0;
    padding: 0;
}
.icon{
    width: 200px!important;
    height: 200px;
    background-color: black;
}
.container{
    width: 1200px;
    background-color: rgb(179, 167, 144);
    margin:0 auto;
    text-align: center;
}